    body {
      font-family: 'Inter', sans-serif;
      background-color: #f5f6fa;
      color: #333;
    }
    .upload-btn {
      background: linear-gradient(90deg, #6c63ff, #8a79ff);
    }
    .upload-btn:hover {
      opacity: 0.9;
    }
    /* Custom scrollbar for modal */
    #study-modal-content::-webkit-scrollbar {
      width: 8px;
    }
    #study-modal-content::-webkit-scrollbar-track {
      background: #f1f1f1; 
      border-radius: 10px;
    }
    #study-modal-content::-webkit-scrollbar-thumb {
      background: #cbd5e1;
      border-radius: 10px;
    }
    #study-modal-content::-webkit-scrollbar-thumb:hover {
      background: #94a3b8;
    }
    #preview {
    margin-bottom: 300px; /* or whatever height ensures the sections below have space */
}
